<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style="background-color: black; color: white;">
      <table style="margin-top: 0">
        <tr>
          <td style="font-size: 60px; text-align: left;" width="90%">
            Chirag's Alpha Blog
          </td>
          <td style="font-size: 15px; text-align: right; padding-right: 30px">
            <%= link_to 'About', about_path, {style: 'color:white'} %>
          </td>
          <td style="font-size: 15px; text-align: right; padding-right: 30px">
            <%= link_to 'Article', articles_path, {style: 'color:white'} %>
          </td>
          <td style="font-size: 15px; text-align: right; padding-right: 30px">
            <%= link_to 'Home', root_path, {style: 'color:white'} %>
          </td>
        </tr>
      </table>
    </header>
    <%= yield %>
  </body>
</html>
